---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import MustangIllustration from "../assets/illustrations/mustangs.webp";
import RifleIllustration from "../assets/illustrations/rifle.webp";
import SniperIllustration from "../assets/illustrations/sniper.webp";
import ShieldLogoIllustration from "../assets/illustrations/shield_logo.webp";
import RomanShieldIllustration from "../assets/illustrations/roman_shield.webp";
import RemoteControlIllustration from "../assets/illustrations/remote_control.webp";
import ProspectiveIllustration from "../assets/illustrations/prospective.webp";
import Landscape1Illustration from "../assets/illustrations/landscape_1.webp";
import Landscape2Illustration from "../assets/illustrations/landscape_2.webp";
import StockMarketDownIllustration from "../assets/illustrations/stock_market_down.webp";
import StockMarketUpIllustration from "../assets/illustrations/stock_market_up.webp";
import HouseIllustration from "../assets/illustrations/house.webp";
import BoneLogoExplorationIllustration from "../assets/illustrations/bone_logo_exploration.webp";
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";

  timeline([loaderAnimation] as TimelineDefinition);
</script>

<Layout
  title="Gianmarco Cavallo - Design works"
  description="A collection of some of my design works"
>
  <div class="flex flex-col justify-center items-center just p-4 pt-40">
    <a
      href="/"
      class="fixed top-10 left-10 text-white bg-neutral-900 hover:bg-neutral-800 w-fit px-4 py-2 border-1 border-solid border-neutral-600 rounded-lg"
      >Back</a
    >
    <p class="text-white mb-10">
      here you can see some of the illustrations/logos/exploration/graphic stuff
      I did during the years.
    </p>

    <div class="w-fit grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
      <Image
        src={MustangIllustration}
        class="w-80 h-80 rounded-md object-cover"
        alt="mustangs illustration"
        loading="lazy"
        decoding="auto"
      />
      <Image
        src={SniperIllustration}
        class="w-80 h-80 rounded-md object-cover"
        alt="sniper illustration"
        loading="lazy"
        decoding="auto"
      />
      <Image
        src={RifleIllustration}
        class="w-80 h-80 rounded-md object-cover"
        alt="rifle illustration"
        loading="lazy"
        decoding="auto"
      />
      <Image
        src={ShieldLogoIllustration}
        class="w-80 h-80 rounded-md object-cover"
        alt="shield logo illustration"
        loading="lazy"
        decoding="auto"
      />
      <Image
        src={RomanShieldIllustration}
        class="w-80 h-80 rounded-md object-cover"
        alt="roman shield illustration"
        loading="lazy"
        decoding="auto"
      />
      <Image
        src={RemoteControlIllustration}
        class="w-80 h-80 rounded-md object-cover"
        alt="remote control illustration"
        loading="lazy"
        decoding="auto"
      />
      <Image
        src={ProspectiveIllustration}
        class="w-80 h-80 rounded-md object-cover"
        alt="prospective illustration"
        loading="lazy"
        decoding="auto"
      />
      <Image
        src={Landscape1Illustration}
        class="w-80 h-80 rounded-md object-cover"
        alt="landscape 1 illustration"
        loading="lazy"
        decoding="auto"
      />
      <Image
        src={Landscape2Illustration}
        class="w-80 h-80 rounded-md object-cover"
        alt="landscape 2 illustration"
        loading="lazy"
        decoding="auto"
      />
      <Image
        src={StockMarketDownIllustration}
        class="w-80 h-80 rounded-md object-cover"
        alt="stock market down illustration"
        loading="lazy"
        decoding="auto"
      />
      <Image
        src={StockMarketUpIllustration}
        class="w-80 h-80 rounded-md object-cover"
        alt="stock market up illustration"
        loading="lazy"
        decoding="auto"
      />
      <Image
        src={HouseIllustration}
        class="w-80 h-80 rounded-md object-cover"
        alt="house illustration"
        loading="lazy"
        decoding="auto"
      />
      <Image
        src={BoneLogoExplorationIllustration}
        class="w-80 h-80 rounded-md object-cover"
        alt="bone logo exploration"
        loading="lazy"
        decoding="auto"
      />
    </div>
  </div>
</Layout>
