---
import { LINKS } from "../lib/constants";

interface Props {
  title: string;
  description: string;
  page?: "travel" | "blog";
  slug?: string | undefined;
  pubDate?: string;
}

const { title, description, page, pubDate } = Astro.props;
const image =
  page === "travel"
    ? `${Astro.url.origin}/globe_preview.webp"`
    : `${Astro.url.origin}/og-image.png`;

const schema =
  page !== "blog"
    ? {
        "@context": "http://schema.org",
        "@type": "Person",
        name: "Gianmarco",
        url: Astro.url.origin,
        sameAs: [LINKS.linkedin, LINKS.github],
        image: `${Astro.url.origin}/og-image.png`,
        jobTitle: "Freelance Frontend Developer",
        worksFor: {
          "@type": "Organization",
          name: "Self-Employed",
          address: {
            "@type": "PostalAddress",
            addressLocality: "Italy",
            addressCountry: "IT",
          },
        },
        nationality: {
          "@type": "Country",
          name: "Italy",
        },
      }
    : {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        mainEntityOfPage: {
          "@type": "WebPage",
          "@id": Astro.url.href,
        },
        headline: title || title,
        description: description || title,
        image: `${Astro.url.origin}/og-image.png`, //TODO: dynamic
        author: {
          "@type": "Person",
          name: "Gianmarco",
          url: Astro.url.origin,
          sameAs: [LINKS.linkedin, LINKS.github],
        },
        publisher: {
          "@type": "Organization",
          name: "Gianmarco",
          logo: {
            "@type": "ImageObject",
            url: `${Astro.url.origin}/og-image.png`,
          },
        },
        datePublished: pubDate || new Date().toISOString(),
        dateModified: pubDate || new Date().toISOString(),
      };
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <meta content={Astro.generator} name="generator" />
    <title>{title}</title>
    <meta content={description} name="description" />
    <meta content="index, follow" name="robots" />
    <!-- Basic OG tags for sharing your website's content on platforms like Facebook and LinkedIn -->
    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content="website" property="og:type" />
    <meta content={Astro.url.origin} property="og:url" />
    <meta
      content={image || `${Astro.url.origin}/og-image.png`}
      property="og:image"
    />
    <!-- Basic Twitter Card tags -->
    <meta content="summary_large_image" name="twitter:card" />
    <meta content={title} name="twitter:title" />
    <meta content={description} name="twitter:description" />
    <meta
      content={image || `${Astro.url.origin}/og-image.png`}
      name="twitter:image"
    />

    <link href="https://cdn.fontshare.com" rel="preconnect" />
    <link href={Astro.url.href} rel="canonical" />
    <script
      is:inline
      set:html={JSON.stringify(schema)}
      type="application/ld+json"
    />
  </head>
  <body
    class="bg-darkslate-700 md:h-screen flex flex-col justify-center items-center"
  >
    <slot name="loader" />
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "CabinetGrotesk";
    src: url("/fonts/CabinetGrotesk-Variable.ttf") format("truetype-variations");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-weight: 100 1000;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Variable.ttf") format("truetype-variations");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-weight: 100 1000;
  }

  body {
    margin: 0;
    font-family: "Satoshi", sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Cabinet Grotesk", sans-serif;
  }
  p {
    font-family: "Satoshi";
  }

  b {
    font-weight: 700 !important;
  }
</style>
